.products-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.product-img {
  width: 100%;
}

.selected-product {
  padding: 1rem;
}

.product-title {
  font-weight: 500;
}

.product-price {
  font-weight: 700;
  padding: 0.5rem 0;
}

.similar-products {
  margin: auto;
  padding: 1rem;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products li:nth-child(n + 5) {
  display: none;
}

.product {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  position: relative;
  width: 48%;
}

.product .product__img {
  width: 100%;
}

.product .description {
  font-size: 0.875rem;
  font-weight: 500;
  padding-top: 0.5rem;
}

.product .price {
  font-weight: 700;
  padding: 0.5rem 0;
}

.more {
  align-items: center;
  color: var(--blue-100);
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .products-details {
    flex-direction: row;
    padding: 2rem;
  }

  .product-img {
    width: 40%;
  }

  .similar-products {
    padding: 2rem;
  }

  .products {
    flex-wrap: nowrap;
  }

  .product {
    width: 23.5%;
  }
}

@media screen and (min-width: 1024px) {
  .products-details {
    padding: 4rem 0;
    width: 80%;
  }

  .similar-products {
    padding: 0;
    padding-bottom: 4rem;
    width: 80%;
  }

  .products li:nth-child(n + 5) {
    display: flex;
  }

  .products li:nth-child(n + 7) {
    display: none;
  }

  .product {
    width: 15.5%;
  }
}
