:root {
  --blue-10: #eaf2fd;
  --blue-100: #2a7ae4;
  --black-05: #f5f5f5;
  --black-30: #c8c8c8;
  --black-50: #a2a2a2;
  --black-100: #464646;
}

* {
  box-sizing: border-box;
  color: var(--black-100);
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

ul li {
  list-style: none;
}

h3 {
  font-size: 1.375rem;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
}

.search {
  color: var(--black-100);
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.search-bar {
  align-items: center;
  background: var(--black-05);
  border-radius: 1.25rem;
  display: none;
  padding: 0.5rem 1rem;
  width: 70%;
}

.search-bar .input {
  background: transparent;
  border: none;
  font-size: 0.875rem;
  outline: none;
}

.search-bar .input::placeholder {
  color: var(--black-50);
}

.search-bar .input-icon {
  height: 1rem;
  stroke: var(--black-50);
  width: 1rem;
}

.logo {
  margin: 0;
  width: 6.25rem;
}

.btn {
  background: transparent;
  border: 1px solid var(--blue-100);
  color: var(--blue-100);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
}

.btn.login {
  width: 8.313rem;
}

.footer {
  align-items: center;
  background-color: var(--blue-10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.logo.footer {
  margin: auto;
  padding: 0;
  width: 11rem;
}

.list {
  padding: 1rem;
  text-align: center;
}

.list > li {
  padding-bottom: 1rem;
  cursor: pointer;
}

.contact-us {
  align-self: flex-start;
  width: 100%;
}

.contact-us > p {
  font-weight: 700;
}

.contact-us > form {
  padding: 0.5rem 0;
}

.name {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

.name > p {
  color: var(--black-50);
}

.name > input {
  border: none;
  outline: none;
}

.message {
  background: #fff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: inline-block;
  height: 4.125rem;
  outline: none;
  padding: 1rem;
  resize: none;
  width: 100%;
}

.message::placeholder {
  color: var(--black-50);
}

.btn-filled {
  background: var(--blue-100);
  border: none;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  width: 55%;
}

.developer {
  font-weight: 500;
  padding: 2rem;
  text-align: center;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }

  .search {
    display: none;
  }

  .nav {
    width: 26.25rem;
  }

  .search-bar {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    flex-direction: row;
    padding: 2rem;
  }

  .list {
    text-align: left;
  }

  .contact-us {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 4rem;
  }

  .footer {
    padding: 3rem 5rem;
    justify-content: space-around;
  }

  .links {
    display: flex;
    justify-content: space-between;
  }

  .list {
    padding-left: 6rem;
  }

  .contact-us {
    width: 40%;
  }
}
